<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <img src="/img/profile_img.jpg" style="border-radius:50%" width="80%" >
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/about/">About</a>
      <br>
      <a class="sidebar-nav-item" href="/internships/">Internships</a>
      <br>
      <a class="sidebar-nav-item" href="/projects/">Projects</a>
      <br>
      <a class="sidebar-nav-item" href="/ongoing/">Ongoing Projects</a>
      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
    </nav>


  </div>
</div>
